# Broker MQTT local
MQTT_BROKER=127.0.0.1
MQTT_PORT=1883
MQTT_TOPIC_INPUT=nodo/esp32/sensores
MQTT_CLIENT_ID_EDGE=Edge_Processor_Core
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TLS=false

# Procesamiento edge
EDGE_GATEWAY_ID=GATEWAY_CURICO_01
CONSOLIDATION_LIMIT=30
API_URL=http://127.0.0.1:8000/mediciones
HTTP_TIMEOUT_SECONDS=5
API_RETRY_COUNT=3

# API y persistencia
DATABASE_PATH=data/mediciones.db

# Simulador ESP32
ESP32_NODE_ID=ESP32_01
SIMULATOR_INTERVAL_SECONDS=2

